# Hugo generated folders
/public/
/resources/
/node_modules/
/draft/
/reviso/

# OS files
.DS_Store
*.log
Thumbs.db
hugo_stats.json
.hugo_build.lock

# Hugo backups and temporary files
*.bak
*.tmp
*.swp
*~

# Docker logs
*.log


# Editors / IDEs
.vscode/
.idea/

# Environment files / secrets
.env
.env.*
!.env.example
